.container {
  position: relative;
  top: 125px;
}

.text-area {
  resize: none;
  width: 100%;
  border: none;
}

.input-box {
  width: 90%;
  height: 38px;
}

.translation-form {
  display: flex;
  justify-content: center;
}

.container-translation {
  background-color: #fffff3;
  position: relative;
  display: block;
  padding: 40px;
}

.input-translation {
  border-radius: 10px;
  padding: 15px;
  width: 500px;
}

.letter-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.output-container {
  display: row;
  padding: 40px;
  border-radius: 20px;
}

.label-translation {
  display: flex;
  justify-content: center;
}