
.footer-style{
    background-color: #9E9D73;
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100px; 
  }

  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color:#9E9D73;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }


  .p-tag {
    display: flex;
    justify-content: center;
  }