body {
    margin: 0;
    background: #F5F4B7;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background: #9E9D73;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    height: 100px;
}

.navbar__title {
    margin-right: 50px;
    font-size: 350%;
    padding: 12px 16px;
    font-family: Inter;
}

.navbar__item {
    display:flex;
    
}

.navbar__item li {
  margin: 15px;
  font-size: x-large;
}


a:link {
    text-decoration: none;
}

a, a:hover a:link, a:visited,  a:focus, a:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
}


footer{
  background-color: #9E9D73;
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}


.profile-btn {
    display: flex;
}

.username-div {
    position: absolute;
    right: 48%;
    font-size:xx-large;
}


.img-user {
    width: 25px;
    height: 25px;
}

