.profile-header {
    display: flex;
    justify-content: center;
}


 .profile-history {
    display: flex;
    justify-content: center;
    top: 100px;
}

.profile-history-container {
    background-color: #FFFFF3;
    display: block;
    padding: 40px;
    border-radius: 20px;
}

.hfour {
     display: flex;
    justify-content: center; 
}

.action-button {
    display: flex;
    /* position:absolute;
    left: 86%;
    bottom: 80%; */
}

