.login-form
{
    display: flex;
    position: relative;
    top: 280px;
    justify-content: center;
}


.btn-color {
    background-color: #614096;
}

.btn-lg {
    width: 100%;
}

.container-auth {
    background-color: #FFFFF3;
    position: relative;
    display: block;
    padding: 40px;
    border-radius: 25px;
}



 